.mainpage-component {
  @import 'theme/variables';
  height: 1500px;
  div.container {
    transition: filter 1s ease;
    position: fixed;
    top: 50px;
    max-width: 1920px;
    background: #282c34;
    color: white;
    overflow: hidden;
  }

  div.absolute-cover {
    position: absolute;
    z-index: 22;
    width: 100%;

    //background: linear-gradient(
    //                to right,
    //                rgba(0,0,0,0.7) 0%,
    //                rgba(0,0,0,0.4) 50%,
    //                rgba(0,0,0,0.7) 100%
    //);

    // production grad
    background: linear-gradient(
                    to right,
                    rgba(0,0,0,1) 0%,
                    rgba(0,0,0,0.7) 50%,
                    rgba(0,0,0,1) 100%
    );
  }

  div.image-wrapper {
    background-color: black;
    border: 1px crimson solid;
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
  }

  div.image-wrapper img {
    width: 200px;
    height: 200px;
    transition: all 0.4s ease;
  }

  div.welcome{
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
    padding: calc(50vh - 150px) 25px;
    z-index: 1;
  }
  div.welcome h1{
    text-align: center;
    font-weight: 300;
    font-size: 48px;
    margin: 0 0;
  }

  div.welcome > h1, h2{
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(20px);
  }
  #welcome-2{
    transition-delay: .2s;
  }
  #welcome-3{
    transition-delay: .4s;
  }

  .welcome h2{
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    /*margin: 15px 0;*/
  }

  div.presentation {

    div.presentation-box-1-title {

    }

    h3 {
      text-align: center;
      font-size: 3em;
      font-weight: 100;
    }

    div.presentation-box-1 {
      background: $lighterDark;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      div.presentation-card {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 300px;
        max-height: 300px;
        padding: 20px;
        // background-color: #b33920;
      }

      div.presentation-card:nth-of-type(1) {
        //background-color: darkred;
      }

      div.presentation-card:nth-of-type(2) {
        //background-color: darkorange;
      }

      div.presentation-card:nth-of-type(3) {
        //background-color: firebrick;
      }


    }

    div.presentation-box-2 {
      height: 500px;
      background-color: lightcoral;
    }

    p {
      margin-top: 20px;
    }

  }


  @media (max-width: 800px) {
    div.container {
      top: 42px;
    }
    div.welcome {
      padding: 20vh 20px;
    }
  }

  @media (max-height: 800px) {
    div.welcome {
      //padding: 10vh 20px;
    }
  }

  @media (max-width: 480px) {
    div.welcome {
      padding: 3vh 20px;
    }
  }

}