.mainpage-component {
  @import 'theme/variables';
  height: 4000px;
  div.container {
    transition: filter 1s ease;
    position: fixed;
    top: 50px;
    max-width: 1920px;
    background: #282c34;
    color: white;
    overflow: hidden;
  }

  div.absolute-cover {
    position: absolute;
    z-index: 22;
    width: 100%;

    //background: linear-gradient(
    //                to right,
    //                rgba(0,0,0,0.7) 0%,
    //                rgba(0,0,0,0.4) 50%,
    //                rgba(0,0,0,0.7) 100%
    //);

    // production grad
    background: linear-gradient(
                    to right,
                    rgba(0,0,0,1) 0%,
                    rgba(0,0,0,0.7) 50%,
                    rgba(0,0,0,1) 100%
    );
  }

  div.image-wrapper {
    background-color: black;
    //border: 1px crimson solid;
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
  }

  div.image-wrapper img {
    width: 200px;
    height: 200px;
    transition: all 0.4s ease;
  }

  div.welcome{
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
    padding: calc(50vh - 150px) 25px;
    z-index: 1;
  }
  div.welcome h1{
    text-align: center;
    font-weight: 300;
    font-size: 48px;
    margin: 0 0;
  }

  div.welcome > h1, h2{
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(20px);
  }
  #welcome-2{
    transition-delay: .2s;
  }
  #welcome-3{
    transition-delay: .4s;
  }

  .welcome h2{
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    /*margin: 15px 0;*/
  }

  div.presentation {

    div.presentation-box-1-title {
    }

    h3 {
      text-align: center;
      font-size: 3em;
      font-weight: 100;
    }

    h4 {
      font-size: 1.6em;
      font-weight: 100;
    }

    div.presentation-box-1 {
      border-bottom: 1px $accentOrange solid;
      padding: 20px 0;
      background: $lighterDark;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      div.presentation-card {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 300px;
        max-height: 370px;
        padding: 20px;
        // background-color: #b33920;

        p {
          text-align: center;
        }

        svg {
          transition: 1s all ease;
          transform: translateX(-50px);
        }
      }

      div.presentation-card:nth-of-type(1) {
        //background-color: darkred;
      }

      div.presentation-card:nth-of-type(2) {
        //background-color: darkorange;
      }

      div.presentation-card:nth-of-type(3) {
        //background-color: firebrick;
      }


    }

    div.presentation-box-1-title {
      border-bottom: 1px $accentOrange solid;
    }

    div.presentation-box-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      //flex-wrap: wrap;
      //height: 500px;
      background-color: $lighterDark;

      div.playlist {
        //width: 500px;
        //border: 1px crimson solid;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;


        div.playlist-single-position {
          //border: 1px $accentOrange solid;
          //height: 50px;
          // max-width: 450px;
          width: calc(100% - 50px);
          min-width: 150px;
          padding: 20px;
          display: flex;
          transition: 1s transform ease;

          div.line-artwork {
            box-shadow: 0 0 8px 3px black;
            margin-right: 20px;
            background: #bebebe;
            flex-shrink: 0;
            width: 30px;
            height: 30px;
            border-radius: 40px;
          }
          div.line {
            box-shadow: 0 0 8px 3px black;
            flex-grow: 1;
            height: 30px;
            transition: 1s background ease;
            background: #bebebe;
            background: linear-gradient(135deg, #a2a2a2 0%, wheat 41%,#bebebe 100%);
            border-radius: 30px;
          }
        }

        div.playlist-single-position:nth-of-type(2) {
          margin-left: 50px;
        }

        div.playlist-single-position:nth-of-type(3) {
          margin-left: 50px;
        }

        div.playlist-single-position:nth-of-type(5) {
          margin-left: -30px;
          opacity: 0.3;
        }

      }

    }

    div.presentation-box-3-title {
      border-bottom: 1px $accentOrange solid;
    }

    div.presentation-box-3 {
      border-bottom: 1px $accentOrange solid;
      padding: 20px 0;
      background: $lighterDark;
      /*display: flex;
      flex-wrap: wrap;
      justify-content: center;*/

      div.tags-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;

        div.tag {
          height: 36px;
          max-width: 230px;
          min-width: 100px;
          background: wheat;
          border-radius: 36px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          margin: 5px;
          flex-grow: 1;
          div.tag-circle {
            background-color: $lighterDark;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            margin: 13px;
          }
        }
      }
    }

    p {
      margin-top: 20px;
    }

  }


  @media (max-width: 800px) {
    div.container {
      top: 42px;
    }
    div.welcome {
      padding: 20vh 20px;
    }
  }

  @media (max-height: 800px) {
    div.welcome {
      //padding: 10vh 20px;
    }
  }

  @media (max-width: 480px) {
    div.welcome {
      padding: 3vh 20px;
    }
  }

}