.mainpage-component {
  height: 100vh;
  div.container {
    position: fixed;
    top: 50px;
    max-width: 1920px;
    background: #282c34;
    color: white;
    overflow: hidden;
  }

  div.absolute-cover {
    position: absolute;
    z-index: 22;
    width: 100%;
    height: 1000px;

    //background: linear-gradient(
    //                to right,
    //                rgba(0,0,0,0.7) 0%,
    //                rgba(0,0,0,0.4) 50%,
    //                rgba(0,0,0,0.7) 100%
    //);

    // production grad
    background: linear-gradient(
                    to right,
                    rgba(0,0,0,1) 0%,
                    rgba(0,0,0,0.7) 50%,
                    rgba(0,0,0,1) 100%
    );
  }

  div.image-wrapper {
    background-color: black;
    border: 1px crimson solid;
    display: flex;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
  }

  div.image-wrapper img {
    width: 200px;
    height: 200px;
    transition: all 0.4s ease;
  }

  div.welcome{
    box-sizing: border-box;
    width: 100%;
    padding: calc(50vh - 150px) 25px;
    z-index: 1;
  }
  div.welcome h1{
    text-align: center;
    font-weight: 300;
    font-size: 48px;
    margin: 0 0;
  }

  div.welcome > h1, h2{
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(20px);
  }
  #welcome-2{
    transition-delay: .2s;
  }
  #welcome-3{
    transition-delay: .4s;
  }

  .welcome h2{
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    /*margin: 15px 0;*/
  }

  @media (max-width: 800px) {
    div.container {
      top: 42px;
    }
    div.welcome {
      padding: 10vh 20px;
    }
  }

  @media (max-width: 550px) {
    div.welcome {
      padding: 3vh 20px;
    }
  }

}